body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {text-align: center;}
 h1 {margin:auto;}
 img {display: block; margin-left:auto; margin-right: auto; width:70%;}
 figcaption {text-align:center; font-size: 15px;}
 nav { background: pink; padding:10px,10px,10px,10px;}
 #featured-property {text-align: center; width: 800px; margin:auto;}
 div {float:left; background: red; text-align: center; width: 25%;}